<div class="container">
    <img class="logo" src="../../../../assets/logo.jpeg" alt="Logo Anime">
    <li class="list">
        <div class="sub-list">
            <ul><a href="Home">Home</a></ul>
            <ul><a href="Listing">Listing</a></ul>
            <ul><a href="Detail">Detail</a></ul>
            <ul><a href="Pages">Pages</a></ul>
        </div>
    </li>
    <button class="button-search"><img src="../../../../assets/icons8-search-30.png" /></button>
    <input class="search" placeholder="Serach..." type="text">
    <img src="" alt="Icone de notificação">
    <img src="" alt="Avatar">
</div>
