.item {
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  transition: all 0.5s ease-in-out;

}

h2 {
  font-size: 40px;
  font-family: "Anta", sans-serif;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  text-align: center;
}

.botoes-controle {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 8px;
}

.botoes-controle button {
  background: #ccc;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 12px;
  width: 12px;
}

.botoes-controle button.ativo {
  background: #ff0000;
  cursor: default;
}
